/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
/* font-family: 'Arvo', serif; */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    overflow: hidden;
    background: rgb(238, 198, 146);
    height: 100vh;
    background: linear-gradient(180deg, rgba(238, 198, 146, 0.06766456582633051) 30%, rgba(255, 224, 184, 0.2945553221288515) 35%, rgba(238, 198, 146, 0.6082808123249299) 100%);
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    font-family: 'Arvo', serif;
    font-size: 3em;
    font-weight: 700;
    line-height: 1.1;
    color: #333;
    margin-bottom: 15px;
    /* text-align: center; */
    /* left:50%;
       right:50%; */
    /* transform: translate(-50%,-50%); */
}

span {
    font-family: 'Arvo', serif;
    color: #333;
    line-height: 1.3;
}


nav {
    display: flex;
    justify-content: space-between;
    font-family: 'Arvo', serif;
}

.personnal_social_media li {
    display: inline-block;
    margin: 10px;

}

.personnal_info li {
    display: inline-block;
    margin: 10px;
}

a {
    color: #333;
    text-decoration: none;
}

aside {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

}


svg {
    fill: #333;
    display: none;
}

@media screen and (max-width: 500px) {


    nav {
        background-color: rgba(255, 255, 255, 0.20);
        position: absolute;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: flex-start;
        font-size: 2em;
        text-align: center;
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        flex-direction: column;
        margin-top: 50px;
        text-transform: uppercase;
        display: none;
        
    }

    nav ul {
        display: flex;
        flex-direction: column;
        
    }
    nav li {
        padding: 10px;
    }

    svg {
        display: block;
        margin-left: 20px;
        margin-top: 20px;
        position: relative;
        
    }


    aside {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;

    }

    h1 {
        margin: 20px;
        font-size: 2em;
    }

    .mobile-menu {
        display: block;
    }

}